#wx-helper-invite  {
    position: absolute;
    min-width: 105px;
    cursor: default;
    overflow: hidden;
    z-index: 2147483647;
    white-space: nowrap;
    transition: opacity .1s ease-in;
    -webkit-transition: opacity .1s ease-in;
}
#wx-helper-search {
    position: absolute;
    border-radius: 2px;
    border: 1px solid #7f7f7f;
    border-color: rgba(0,0,0,.5);
    min-width: 105px;
    background-color: #fff;
    cursor: default;
    box-shadow: 2px 2px 0 0 rgba(0,0,0,.2);
    overflow: hidden;
    z-index: 2147483647;
    white-space: nowrap;
    font-family: "Microsoft Yahei","微软雅黑","宋体",Tahoma,Arial,Helvetica,STHeiti;
    transition: opacity .1s ease-in;
    -webkit-transition: opacity .1s ease-in;
}
#wx-helper-invite  * ,#wx-helper-search * {
    box-sizing: content-box;
}
#wx-helper-invite  iframe ,#wx-helper-search iframe {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0);
}
#wx-helper-invite  p ,#wx-helper-search p {
    display: inline-block;
    margin: 0;
    padding: 4px 14px;
    height: 21px;
    line-height: 21px;
    color: #474747;
    font-size: 14px;
    white-space: nowrap;
    clear: none;
    width: auto;
    text-align: center;
    text-indent: 0;
}
#wx-helper-invite  .last-btn ,#wx-helper-search .last-btn {
    border-left: 1px solid #bfbfbf;
}

#wx-helper-search p:hover {
    background: #efefef;
    color: #000;
}
#wx-helper-invite  p:before,#wx-helper-search p:before,
#wx-helper-invite  p:after ,#wx-helper-search p:after {
    display:none;
}


#wx-popoverWrapId{
    max-width: 500px
}

#wx-popoverWrapId.pop-links__wrp {
    position: absolute;
    padding-top: 10px;
    display: inline-block;
    transform: translateX(-50%)
}

#wx-popoverWrapId.pop-links__wrp:before {
    width: 8px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
    transform: matrix(.71,.71,-.71,.71,0,0);
    -ms-transform: matrix(.71,.71,-.71,.71,0,0);
    -webkit-transform: matrix(.71,.71,-.71,.71,0,0);
    left: 50%;
    margin-left: -4px;
    top: 6px;
    border: 1px solid rgba(0,0,0,.1);
}

#wx-popoverWrapId.pop-links__wrp:after,.pop-links__wrp:before {
    content: " ";
    height: 8px;
    background-color: #fff;
    position: absolute
}

#wx-popoverWrapId.pop-links__wrp:after {
    top: 11px;
    height: 10px;
    left: 0;
    right: 0;
    border-left: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
    border-radius: 4px
}

.pop-links__list {
    padding: 6px 0;
    background: #fff;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
}

.pop-link {
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 0 16px !important;
    width: 100%;
    text-align: left;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    outline: 0;
    overflow: visible;
    -webkit-appearance: none;
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
}

.pop-links__item {
    display: list-item;
    text-align: -webkit-match-parent;
    padding-left: 0;
    list-style-type: none;
}

.pop-links__item:hover .pop-link {
    color: #888
}




.reco-list__wrp {
    max-height: 400px;
    background: #fff;
    overflow-y: auto
}
.reco-list__wrp::-webkit-scrollbar {
  width: 0 !important;
}
.reco-list__wrp { -ms-overflow-style: none; }
.reco-list__wrp { overflow: -moz-scrollbars-none; }

.reco-list__wrp em {
    font-style: normal;
    color: #07c160
}

.reco-item__link {
    display: block;
    transition: all .3s;
    padding: 16px
}

.reco-item__link.ops {
    padding: 0;
    margin-right: 10px; 
    display: inline;
}


.reco-item__hd {
    margin-bottom: 4px
}

.reco-item__hd h5 {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle
}

.reco-item__hd .reco-item__group {
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    padding: 0 5px;
    border-radius: 3px;
    border: 1px solid #222;
    vertical-align: middle;
    display: inline-block;
    transform: scale(.84)
}

.reco-item__desc {
    color: #888;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 1.42;
    max-height: 2.84em
}

.show-more{
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 16px 16px 6px 16px;
}

.wx-show-head{
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 0 16px 6px;
    text-align: center;
}

.no-border{
    border: none;
}

.mode__rich-text-editor__header{
    z-index: unset !important;
}


.weui-toptips {
    position: fixed;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 50000
}

.weui-toptips .weui-toptips__inner {
    border-radius: 4px;
    display: inline-block;
    min-width: 280px;
    padding: 5px 30px;
    color: #fff
}

.weui-toptips_success .weui-toptips__inner {
    background-color: #07c160
}

.weui-toptips_error .weui-toptips__inner {
    background-color: #eaa000
}






.uscore-dialog .dialog_wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(0,0,0,.5);
    z-index: 2001;
    text-align: center;
    color: rgba(0,0,0,.9);
    font-weight: 400
}

.uscore-dialog .dialog_wrapper:after {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    overflow: hidden
}

.uscore-dialog .dialog_wrapper.dialog_info .dialog_bd {
    text-align: center
}

.uscore-dialog .dialog_wrapper .dialog {
    position: relative;
    padding: 0;
}

.uscore-dialog .dialog_wrapper .dialog_hd {
    padding: 20px;
    font-size: 18px;
    font-weight: 500
}

.uscore-dialog .dialog_wrapper .dialog_hd h3 {
    font-weight: 400;
    text-align: center;
    font-weight: 500;
    font-size: 18px
}

.uscore-dialog .dialog_wrapper .msg_icon_wrapper {
    float: none;
    display: block;
    text-align: center;
    margin: 20px auto 40px
}

.uscore-dialog .dialog_wrapper .icon_msg {
    width: 68px;
    height: 68px
}

.uscore-dialog .dialog_wrapper .page_msg p {
    line-height: 1.6;
    margin: 0
}

.uscore-dialog .dialog_wrp_new.dialog_component {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    min-width: 515px;
}

.uscore-dialog .dialog_info .dialog_bd {
    text-align: center
}


.uscore-dialog .dialog_invite_answer .dialog_invite_answer_box_head_desc {
    color: rgba(0,0,0,.5)
}



.uscore-dialog .dialog_invite_answer .invite_answer_list_item_head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.uscore-dialog .dialog_invite_answer .dialog_invite_answer_box_body {
    margin-top: 16px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 20px;
    margin-left: -20px;
    margin-right: -20px
}

.uscore-dialog .dialog_invite_answer .invite_answer_list_item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 0
}

.uscore-dialog .dialog_invite_answer .invite_answer_list_item:after {
    display: block;
    content: " ";
    position: absolute;
    height: 1px;
    background-color: rgba(0,0,0,.1);
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    left: 0;
    bottom: 0;
    right: 0
}

.uscore-dialog .dialog_invite_answer .invite_answer_list_item:last-child:after {
    display: none
}

.uscore-dialog .dialog_invite_answer .invite_answer_list_item_head_content_title {
    margin-bottom: 3px
}


.uscore-dialog .dialog_invite_answer .pop_closed {
    top: 36px;
    right: 31px
}

.uscore-dialog .dialog_invite_answer .invite_answer_list_item_foot {
    text-align: right
}

.uscore-dialog .dialog_invite_answer.dialog_wrapper .dialog_hd {
    height: auto;
    line-height: normal;
    padding: 32px 31px 0
}

.uscore-dialog .dialog_invite_answer.dialog_wrapper .dialog_hd h3 {
    text-align: left;
    font-size: 18px;
    margin-bottom: 7px
}

.uscore-dialog .dialog_invite_answer .dialog_bd {
    padding: 0 31px 32px
}

.uscore-dialog .cls{
    color: #07c160
}



.input-cover{
    width: 100%;
    height: 22px;
    display: block;
    position: absolute;
    border: 1px #ccc dashed;
    top: 0;
}


/*.comment_reply_body .comment_reply_input_box_active button.btn_primary,.comment_editor_box .tool_bar .btn_primary{
    display: none;
}*/
.preview-tail,.reply-preview-tail{
    color: #07c160;
}

.preview-tail{
    min-height: 47px;
    height: 47px;
    text-align: left;
    overflow: hidden;
}

.tail-op-bar {
    cursor: pointer;
}

.tail-op-bar-tip{
    display: none!important;
}

.tail-op-bar:hover .tail-op-bar-tip{
    display: block!important;
    max-width: fit-content!important;
}


.tail-op-bar .add,.tail-op-bar .del{
    height: 34px;
    width: 20px;
}
.tail-op-bar .add,.tail-op-a.add{
    background: url("data:image/svg+xml, %3Csvg viewBox='0 0 1117 1024' xmlns='http://www.w3.org/2000/svg' width='18px' height='18px'%3E%3Cpath d='M0 0h1024v1024H0V0z m56.888889 56.888889v910.222222h910.222222V56.888889H56.888889z' fill='%23b9b9b9' p-id='4157' /%3E%3Cpath d='M722.261333 277.959111H314.026667v75.776h408.234666V277.959111z m50.517334 120.149333H314.026667v34.133334c0 114.005333-8.874667 279.893333-74.410667 391.168a194.104889 194.104889 0 0 0-45.056-25.941334c63.488-106.496 69.632-257.365333 69.632-364.544V233.585778h508.586667v164.522666zM597.333333 767.431111h130.389334c30.72 0 36.181333-12.288 39.594666-74.410667 11.605333 8.192 31.402667 15.701333 45.738667 19.114667-6.826667 79.189333-22.528 101.717333-81.237333 101.717333h-138.581334c-70.997333 0-90.794667-15.701333-90.794666-76.458666v-48.469334l-173.397334 27.306667-8.192-42.325333 181.589334-27.989334v-62.122666l-151.552 23.210666-7.509334-42.325333 159.061334-24.576v-58.026667c-47.104 8.192-95.573333 15.701333-141.312 21.162667a142.563556 142.563556 0 0 0-14.336-36.864c114.005333-15.018667 247.125333-39.594667 318.122666-66.218667l42.325334 32.768c-43.008 15.018667-97.621333 28.672-154.965334 40.277334v60.074666l193.194667-29.354666 7.509333 40.96-200.704 30.72v62.805333l240.298667-37.546667 8.192 41.642667-248.490667 38.912v55.978667c0 25.258667 7.509333 30.037333 45.056 30.037333z' fill='%23b9b9b9' p-id='4158' /%3E%3C/svg%3E") 50% no-repeat; 
}

.tail-op-bar .del,.tail-op-a.del{
    background: url("data:image/svg+xml, %3Csvg viewBox='0 0 1117 1024' xmlns='http://www.w3.org/2000/svg' width='18px' height='18px'%3E%3Cpath d='M0 0h1024v1024H0V0z m56.888889 56.888889v910.222222h910.222222V56.888889H56.888889z' fill='%23FF9800' p-id='4157' /%3E%3Cpath d='M722.261333 277.959111H314.026667v75.776h408.234666V277.959111z m50.517334 120.149333H314.026667v34.133334c0 114.005333-8.874667 279.893333-74.410667 391.168a194.104889 194.104889 0 0 0-45.056-25.941334c63.488-106.496 69.632-257.365333 69.632-364.544V233.585778h508.586667v164.522666zM597.333333 767.431111h130.389334c30.72 0 36.181333-12.288 39.594666-74.410667 11.605333 8.192 31.402667 15.701333 45.738667 19.114667-6.826667 79.189333-22.528 101.717333-81.237333 101.717333h-138.581334c-70.997333 0-90.794667-15.701333-90.794666-76.458666v-48.469334l-173.397334 27.306667-8.192-42.325333 181.589334-27.989334v-62.122666l-151.552 23.210666-7.509334-42.325333 159.061334-24.576v-58.026667c-47.104 8.192-95.573333 15.701333-141.312 21.162667a142.563556 142.563556 0 0 0-14.336-36.864c114.005333-15.018667 247.125333-39.594667 318.122666-66.218667l42.325334 32.768c-43.008 15.018667-97.621333 28.672-154.965334 40.277334v60.074666l193.194667-29.354666 7.509333 40.96-200.704 30.72v62.805333l240.298667-37.546667 8.192 41.642667-248.490667 38.912v55.978667c0 25.258667 7.509333 30.037333 45.056 30.037333z' fill='%23FF9800' p-id='4158' /%3E%3C/svg%3E") 50% no-repeat; 
}


.tail-op-a.add,.tail-op-a.del{
    width: 20px;
    width: 20px;
}


.plg-hide{display:none !important;}

.plugin-blockTip{
    font-size: 14px;
    color: rgb(234, 160, 0);
    float: right;
}

.plugin-by{
    font-size: 10px;
    color: #bbb;
}
.plugin-no-result-wrp-for-mixflow,.plugin-no-result-wrp{
    height: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.plugin-no-result-wrp-for-mixflow{
    height: 50px;
}

.plugin-no-result-wrp-for-mixflow .empty-box,.plugin-no-result-wrp .empty-box{
    display: flex;
    color: rgb(234, 160, 0);
}


#search_article_list .plugin-search-li-hide,
.search_posts_area_body .no-result-wrp,
#article_frame .plugin-search-hide .result-wrp,
#article_frame .plugin-search-hide .search_posts_area_body__head, 
.plugin-search-hide .mod_article_list_container,
.plugin-search-hide .plugin-mod_article_list_container{
    display: none;
}